<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>

<div class="container mt-5">


  <h2>User Management System</h2>
  <div class="d-flex justify-content-end mb-2">
    <a th:href="@{/users/create}" class="btn btn-primary">Create User</a>
  </div>
  <form th:action="@{/}" id="searchForm">
    Filter: <input type="text" name="searchParam" id="searchParam">
    <input type="submit" value="Search" id="searchInput" />
  </form>
  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Phone Number</th>
      <th>Email Address</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="usersContainer">

    </tbody>

  </table>

  <!-- Assuming you have a Page<UserDTO> named 'allUsers' in your model -->

  <div th:if="${allUsers.totalPages > 1}" class="mt-3">
    <ul class="pagination justify-content-center">
      <li th:if="${allUsers.number > 0}" class="page-item">
        <a th:href="@{'/api/users?page=' + (allUsers.number - 1) + '&size=' + allUsers.size}" class="page-link" id="prev">&lt; Prev</a>
      </li>
      <li th:each="page : ${#numbers.sequence(0, allUsers.totalPages - 1)}" th:class="${page} == ${allUsers.number} ? 'page-item active' : 'page-item'">
        <a th:href="@{'/api/users?page=' + ${page} + '&size=' + ${allUsers.size}}" class="page-link" th:text="${page}"></a>
      </li>
      <li th:if="${allUsers.number + 1 < allUsers.totalPages}" class="page-item">
        <a  th:href="@{'/api/users?page=' + (${allUsers.number + 1}) + '&size=' + ${allUsers.size}}" class="page-link" id="next">Next &gt;</a>
      </li>
    </ul>
  </div>



</div>

  <script th:src="@{/js/user.js}">

  </script>
</body>
</html>
