<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">

</head>
<body>

    <div class="container mt-5">
        <h2>Create User</h2>
        <form id="userForm" method="POST" action="/">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter Phone Number" required>
                </div>
            </div>


            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email Address" required>
            </div>


            <button type="submit" class="btn btn-primary">Create User</button>

            <a class="btn btn-info float-right" href="/">Dashboard</a>
        </form>
    </div>


<script>
    const csrfHeaderName = document.head.querySelector('[name=_csrf_header]').content
    const csrfHeaderValue = document.head.querySelector('[name=_csrf]').content

    const userForm = document.getElementById("userForm");
    userForm.addEventListener('submit', createUser);

    async function createUser(e) {
        e.preventDefault();

        const firstNameElement = document.getElementById('firstName').value;
        const lastNameElement = document.getElementById('lastName').value;
        const dateOfBirthElement = document.getElementById('dateOfBirth').value;
        const phoneNumberElement = document.getElementById('phoneNumber').value;
        const emailElement = document.getElementById('email').value;


        fetch("http://localhost:8080/api/users", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                [csrfHeaderName]: csrfHeaderValue
            },
            body: JSON.stringify({
                firstName: firstNameElement,
                lastName: lastNameElement,
                dateOfBirth: dateOfBirthElement,
                phoneNumber: phoneNumberElement,
                email: emailElement,
            })
        }).then(res => res.json())
            .then(data => {
                if(data.success) {
                    window.location.href = "/users/" + data.id;
                }
            })
    }
</script>
</body>
</html>